
/* =============================
======= MEDIA QUERIES ======= */

@media (max-width: 1124px) {
    header {
        min-height: 920px;
    }

    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 2.5rem;
    }

    .column-2-hero:first-of-type {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .column-2-hero:last-of-type {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        text-align: center;
    }

    .hero-text {
        text-align: center;
        margin: 3.25rem auto 0 auto;
    }

    .column-2-main:first-of-type {
        text-align: center;
    }

    .column-3 {
        margin-bottom: 2rem;
    }

    .column-3:nth-of-type(2) {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .column-3:last-of-type {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: left;
    }

    ul.company-info {
        padding-left: 2.5rem;
    }
    
    .footer-links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-left: none;
        border-right: none;
    }

    .footer-links {
        margin-bottom: 2rem;
    }

    .join-us {
        width: 430px;
        padding-left: 2.5rem;
        margin: 2rem 0;
    }

    .input-box-sm {
       width: 350px;
    }
    
}

@media (max-width: 700px) {
    header {
        min-height: 1000px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    }

    .row {
        padding: 2.5rem;
    }

    h1 {
        font-size: 1.75rem;
        line-height: 2.5rem
    }

    .hero-img {
        width: 330px;
        padding: 3rem 0 2.5rem 0;
    }

    .features-img {
        width: 350px;
    }
    
    .features-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
    .features-item {
        padding: 0.75rem 3rem;
    }

    .signup-container{
        padding: 0 3rem;
    }

    .input-box-lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    input {
        width: 350px;
    }

    .input-box-lg .btn-small {
        -ms-flex-item-align: center;
        align-self: center;
        width: 350px;
        margin-top: 1rem;
    }

    footer {
        -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    }
    
}

@media (max-width: 500px) {
    header {
        min-height: 900px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }

    .nav-container {
        padding: 2rem 2.5rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-logo {
        width: 90px;
        height: auto;
        padding: 0.25rem 0;
    }

    .btn-nav {
        font-size: 0.85rem;
        padding: 0.25rem 1.15rem;
    }

    h1 {
        font-size: 1.35rem;
        line-height: 2rem;
    }

    .hero-img {
        width: 230px;
        padding: 3rem 0 2.5rem 0;
    }

    .hero-text {
        width: 100%;
    }

    .btn-big {
        width: 200px;
    }

    h2 {
        padding: 0 3rem;
    }

    .features-img {
        width: 250px;
    }

    .features-item {
        padding: 0.75rem 0;
    }

    .features-grid {
        padding: 0;
    }

    .signup-container {
        padding: 0 2rem;
    }

    input {
        width: 320px;
    }

    .input-box-lg .btn-small {
        width: 320px;
    }

    footer {
        -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
    }

    .join-us,
    .input-box-sm,
    .input-box-sm input {
       width: 100%;
    }

    ul.company-info, 
    .join-us,
    .footer-links {
        padding-left: 0;
    }

}