* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

footer .row {
    margin-top: 8rem;
}

.column-2-hero,
.column-3:first-of-type,
.column-3:last-of-type {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.column-2-hero:last-of-type {
    text-align: right;
}

.column-2-main:first-of-type {
    -webkit-box-flex: 40%;
    -ms-flex: 40%;
    flex: 40%;
}

.column-2-main:last-of-type {
    -webkit-box-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
}

.column-3:nth-of-type(2){
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


/* ====== HEADINGS ====== */

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    line-height: 2.75rem;
    margin-bottom: 1.75rem;
    margin-top: 1rem;
}

h2 {
    text-align: center;
    margin: 1rem 0;
}

h3 {
    margin-bottom: 1rem;
}


/* ====== BUTTONS ====== */

.btn {
    display: inline-block;
    background-color: hsl(163,95%,43%);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: 1px solid hsl(163,95%,43%);
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.btn-nav {
    padding: 0.4rem 1.5rem;
}

.btn-big {
    width: 250px;
    padding: 0.85rem;
    -webkit-box-shadow: 0.1rem 0.1rem 0.3rem hsla(0, 0%, 50%, 0.7);
    box-shadow: 0.1rem 0.1rem 0.3rem hsla(0, 0%, 50%, 0.7);
}


.btn-small {
    width: 180px;
    padding: 0.45rem;
    -webkit-box-shadow: 0.05rem 0.05rem 0.3rem hsla(0, 0%, 50%, 0.7);
    box-shadow: 0.05rem 0.05rem 0.3rem hsla(0, 0%, 50%, 0.7);
}

.btn-small:last-of-type {
    -ms-flex-item-align: end;
    align-self: flex-end;
}


/* =============================
=========== HEADER =========== */

header {
    background: linear-gradient(120deg,hsl(243, 87%, 12%),hsl(243, 58%, 33%), hsl(243, 86%, 85%));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
    min-height: 700px;
    color: #fff;
    padding-bottom: 3rem;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 3.5rem;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}

.hero-text {
    width: 85%;
    margin-top: 3.25rem;
}

.hero-img {
    width: 459px;
    height: auto;
    padding: 0 3rem;
}


/* =============================
====== FEATURES SECTION ====== */

.features-section {
    padding-top: 3rem;
    /* height: auto; */
}

.features-img {
    /* width: 85%; */
    width: 390px;
    height: auto;
    padding: 2.25rem 0;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

.features-item {
    padding: 0.75rem 3rem;
}

.features-item p {
    color: hsl(0, 0%, 50%);
}



/* =============================
======= SIGN UP SECTION ======= */

.signup-section {
    padding: 3rem 0;
    height: auto;
}

.signup-container {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;
}

.signup-container p {
    color: hsl(243, 58%, 33%);
    font-weight: 600;
    padding: 0.75rem 0;
}

.input-box-lg {
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

input {
    width: 400px;
    padding: 0.65rem 2rem;
    margin: 0 2rem;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: 0 0 0.2rem hsla(0, 0%, 50%, 0.4);
    box-shadow: 0 0 0.2rem hsla(0, 0%, 50%, 0.4);
    font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {
    color: hsl(0, 0%, 50%);
    opacity: 0.4;
}

:-ms-input-placeholder {
    color: hsl(0, 0%, 50%);
    opacity: 0.4;
}

::placeholder {
    color: hsl(0, 0%, 50%);
    opacity: 0.4;
}


/* =============================
=========== FOOTER =========== */

footer {
    background-color: hsl(243, 87%, 12%);
    -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
    padding: 3rem 0;
    color: #fff;
}

footer ul li {
    list-style: none;
    padding: 0.6rem 0;
}

ul.company-info li:first-of-type{
    padding: 0  0 1.75rem 0;
}

ul.company-info li.align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

img.footer-icon {
    margin-right: 1rem;
    -ms-flex-item-align: center;
    align-self: center;
}

.footer-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 0.06rem solid #fff;
    border-right: 0.06rem solid #fff;
}
 
.footer-links {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 2.5rem;
}

.input-box-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.join-us {
    padding-left: 4.5rem;
}

.join-us p {
    padding-bottom: 0.5rem;
}

.join-us input {
    width: 350px; 
    margin: 1rem 0;
}
 
p.attribution {
    font-size: 0.75rem;
    text-align: center;
}

